<div style = "text-align: {{section.settings.text_position}}">{{section.settings.textid }}</div>
<form class="search" action="/search">
    <input type="text" placeholder="Search" name="q" value="{{ search.terms | escape }}"  />
<!--     <input type="submit" value="Search" /> -->
</form>

